* {
    margin: 0;
    font-family: "Roboto", "Verdana";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section-one, .footer {
    background-color: #1F2937;
    color: white; 
    
}

.section-two {
    background-color: white;
    
}

.section-three {
    background-color: #E5E7EB;
    
}

.section-four {
    background-color: white;
}

.section {
    padding: 10px;
}


.header {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #E5E7EB;
}

img {
    width: 500px;
}

.small-img {
    object-fit: cover;
    width: 180px;
    height: 180px;
    border-radius: 20px;
    border: 4px solid #3882F6;
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    color: #E5E7EB;
    padding-bottom: 100px;
}

h1 {
    font-size: 48px;
}

.section-header2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    /* padding-bottom: 100px; */
}

.section-photos {
    display: flex;
    gap: 40px;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 100px;
    gap: 60px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
    text-align: center;
}

.text {
    color: #676666;
}
