* {
    margin: 0;
    font-family: "Roboto", "Verdana";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section-one, .footer {
    background-color: #1F2937;
    color: white; 
    
}

.section-two {
    background-color: white;
    
}

.section-three {
    background-color: #E5E7EB;
    
}

.section-four {
    background-color: white;
}

.section {
    padding: 10px;
}


.header {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    margin-top: 10px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #E5E7EB;
}

img {
    width: 500px;
}

.small-img {
    object-fit: cover;
    width: 180px;
    height: 180px;
    border-radius: 20px;
    border: 4px solid #3882F6;
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    color: #E5E7EB;
    padding-bottom: 100px;
}

h1 {
    font-size: 48px;
}

.section-header2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    /* padding-bottom: 100px; */
}

.section-photos {
    display: flex;
    gap: 40px;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 100px;
    gap: 60px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
    text-align: center;
}

.text {
    color: #676666;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    max-width: 800px;
}

.quote-name {
    color: #1F2937;
    font-weight: bold;
    padding-left: 550px;
    font-size: 20px;
    
}

.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.blue-box {
    background-color: #3382F6;
    color: white;
    border-radius: 7px;
    /* max-width: 1000px; */
    padding: 50px 70px;
    /* width: 900px; */
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button2 {
    background-color: #3382F6; 
    border: none;
    color: white;
    padding: 0px 35px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 8px;
  }

.button1 {
    background-color: #3382F6; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 10px;
}

.box-header {
    font-weight: bold;
    font-size: 20px;
}

.section-four {
    display: flex;
    justify-content: center;
    padding: 100px;
    /* align-items: center; */
}